.content-card{
    border: 1px black solid;
    display: block;
    /*width: 420px;*/
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    /*padding: 20px;*/
    /*margin: 20px;*/
    text-align: center;
  background-color: #c8e6c9;
  color: #c62828;
  margin: auto;
  width: 420px;
  /*border: 1px solid #73AD21;*/
  padding: 20px;

}



.image{
    height: 300px;
    width: 300px;
}
